<link rel="stylesheet" href="../../css/booksPage.css">


<div class="searchContainer" id="searchContainer">
    <input type="text" class="searchInput" id="searchInput" placeholder="kitap ismi giriniz veya boş bırakabilirsiniz">
    <select class="cityList" id="citys">
        <option>seçiniz</option>
    </select>
    <input type="button" id="performSearch" value="search">
</div>



<div class="booksSection" id="booksSection">


</div>
<div class="pagingSection" id="paging">

</div>


<script src="../../scripts/booksPage.js"></script>
