<link rel="stylesheet" href="../../css/booksPage.css">
<div class="searchContainer" id="searchContainer" >
    <input type="text" class="searchInput" id="searchInput" placeholder="enter a book name">
    <select class="cityList" id="citys">
        <option>select</option>
    </select>
    <input type="button" id="performSearch" value="search">
</div>



<div class="booksSection" id="booksSection">

</div>
<!-- 
<div class="bookCard">
  <div class="leftSide">
    <img src="../../images/maze.jpg" alt="book img">
  </div>
  <div class="rightSide">
    <div class="topSide">
      <p></p>
      <p class="bookName">Kitap Adı (bilim Kurgu)</p>
      <p class="stockInfo">Şehirdeki Stok: X</p>
    </div>
    <div class="middleSide">
      <div class="bookDescription">
        <p>Kitap Açıklaması /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */ /* İstediğiniz yüksekliği ayarlayın */</p>
      </div>
      <div class="priceList">
        <ul>
          <li><input type="checkbox" id="bookStore"  name="bookStoresList" value="0" checked><label for="bookStore"> eden bookStore 15$</label> </li>
          <li><input type="checkbox" id="bookStoree" name="bookStoresList" value="1"><label for="bookStoree"> eden bookStore 18$</label></li>
          <li><input type="checkbox" id="bookStore2" name="bookStoresList" value="2"><label for="bookStore2"> eden bookStore 16$</label></li>
          <li><input type="checkbox" id="bookStore3" name="bookStoresList" value="3"><label for="bookStore3"> eden bookStore 11$</label></li>
          <li><input type="checkbox" id="bookStore4" name="bookStoresList" value="4"><label for="bookStore4"> eden bookStore</label></li>
          <li><input type="checkbox" id="bookStore5" name="bookStoresList" value="5"><label for="bookStore5"> eden bookStore</label></li>
          <li><input type="checkbox" id="bookStore6" name="bookStoresList" value="6"><label for="bookStore6"> eden bookStore</label></li>
          <li><input type="checkbox" id="bookStore7" name="bookStoresList" value="7"><label for="bookStore7"> eden bookStore</label></li>
          <li><input type="checkbox" id="bookStore8" name="bookStoresList" value="8"><label for="bookStore8"> eden bookStore</label></li>
        </ul>
      </div>
    </div>
    <div class="bottomSide">
      <div class="buttons">
        <input type="button" value="Sepete Ekle">
        <input type="button" value="Istek Listesine Ekle">
        <input type="button" value="Favorilere Ekle">
      </div>
    </div>
  </div>
</div>
<br>
-->

<script src="../../scripts/booksPage.js"></script>
