<link rel="stylesheet" href="../../css/booksPage.css">


<div class="searchContainer" id="searchContainer">
    <input type="text" class="searchInput" id="searchInput" placeholder="enter a book name">
    <select class="cityList" id="citys">
        <option>select</option>
    </select>
    <input type="button" id="performSearch" value="search">
</div>



<div class="booksSection" id="booksSection">

</div>

<script src="../../scripts/booksPage.js"></script>
