<link rel="stylesheet" href="../../css/bookStoresPage.css">
<div class="bookStoresCard">
  <div class="leftSide">
    <img src="kirtasiye_resmi.jpg" alt="kirtasiye img">
  </div>
  <div class="midSide">
    <h2>Kırtasiye Adı</h2>
    <p>Adres</p>
    <p>Toplam Satış: X</p>
    <p>ortalama puan 3</p>
  </div>
  <div class="rightSide">
    <h3>Son Satılan Kitaplar</h3>
    <ul>
      <li>Kitap 1</li>
      <li>Kitap 2</li>
      <li>Kitap 3</li>
      <li>Kitap 4</li>
    </ul>
  </div>
</div>
