    <link rel="stylesheet" href="../../css/contactPage.css">
    <h1>iletişim formu</h1>
    <iframe name="noPageReload" style="display:none;"></iframe>
    <form target="noPageReload" id="contactForm">
        <label for="name">isiminiz:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">email adresi:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="message">mesajınız:</label>
        <br>
        <textarea id="message" name="message" rows="5" cols="30" required></textarea>
        <br>
        <button type="submit">send</button>
    </form>
<script src="../../scripts/contactPage.js"></script>