    <link rel="stylesheet" href="../../css/loginPage.css">
    <div id="buttons" class="buttons">
    
    <input type="button" value="user login" id="userLogin">
    <input type="button" value="bookStore login" id="bookStoresLogin">

    </div>
    
    <div id="loginForms">

    </div>
    
<script src="../../scripts/loginPage.js"></script>