<link rel="stylesheet" href="../../css/mainPage.css">


<div class="container">

<!-- bookstores of this month popular and rising books divs  -->
<div class="firstSection">
    <p>ayın kitap mağazası</p>
    <div class="bookStoresOfThisMonth" id="monthOfBookStores">

    </div>
 


</div>



<div class="secondSection">
    <p>bu şehirde en çok satan kitaplar</p>
    <div class="mostSelledBooks" id="mostSelledBooks">
 

        
    
    </div>
    <p>en popüler kategoriden kitaplar</p>
    <div class="mostPopularCategoriesBooks" id="booksByMostPopularCategory">


    </div>
    <p>en güvenilir kitap mağazaları</p>
    <div class="mostReliableBookStores" id="mostReliableBookStores">

    </div>
    <p>yeni eklenen kitaplar(son 30 günde)</p>
    <div class="newlyAddedBooks" id="newlyAddedBooks">

    </div>


</div>


<div class="thirdSection">
    <!--
    <p>tüm şehirlerde en çok satılan kitaplar</p>
    <div class="mostSelledBooksInAllCity" id="mostSelledBooksInAllCity">

    </div>
    -->
    <p>popüler kategoriler</p>
    <div class="popularCategories" id="popularCategories">
    
    </div>
</div>


</div>


<div class="messageBox">



</div>





</div>
<script src="../../scripts/mainPage.js"></script>