<link rel="stylesheet" href="../../css/mainPage.css">


<div class="container">

<!-- bookstores of this month popular and rising books divs  -->
<div class="firstSection">
    <p>books store of this month</p>
    <div class="bookStoresOfThisMonth">
        <!--
            bookstores of this month html card
            <div class="bookStoresOfMonth">
                <img src="">
                <p>ktiap adı</p>
                <p>kitap fiyati</p>
                <input type="button">
                <input type = "button">
                </div>
         -->
             <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>



    </div>
    <p> popular and rising books</p>
    <div class="popularAndRisingBooks">
        <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>
    </div>


</div>



<!-- 
    most selled books div
    most popular categories books
    most reliable bookstores
    newly added books

 -->
<div class="secondSection">
    <p>most selled books in this city</p>
    <div class="mostSelledBooks">
        <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>

        
    
    </div>
    <p>most popular categories books</p>
    <div class="mostPopularCategoriesBooks">
     <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>

    </div>
    <p>most reliable book stores</p>
    <div class="mostReliableBookStores">
     <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>
    </div>
    <p>newly added books</p>
    <div class="newlyAddedBooks">
     <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>
    </div>


</div>

<!-- 
    most selled books in all citys
    popular categories
    ai message box(pop up)

-->

<div class="thirdSection">
    <p>most selled books in all city</p>
    <div class="mostSelledBooksInAllCity">
    <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>

    </div>

    <p>popular categories</p>
    <div class="popularCategories">
    <div class="mostSelledBooksCard">
            <img src="../uploads/bookImages/deneme123/1.png" class="bookIMG">
            <p>kita ismi</p>
            <p>15,00tl</p>
          <div class="buttonGroup">
            <input type="button" value="sepete ekle" >
            <input type="button" value="favorite"  >
            </div>
        </div>
    </div>
</div>


</div>


<div class="messageBox">



</div>





</div>
<script src="../../scripts/mainPage.js"></script>