    <link rel="stylesheet" href="../../css/registerPage.css">
    <div id="buttons" class="buttons">
    
    <input type="button" value="user register" id="userRegister">
    <input type="button" value="bookStore register" id="bookStoresRegister">

    </div>
    
    <div id="registerForms">

    </div>
    
<script src="../../scripts/registerPage.js"></script>



