    <link rel="stylesheet" href="../../css/shoppingCard.css">

<div id="shoppingCard" class="shoppingCard">

    <div id="products" class="products">
        
</div>
    <div id="orderDetails" class="orderDetails">
        <p class="productsCount" id="productsCount"></p>
        

        <div class="bookList" id="bookList">
            
        </div>
        
        <div id="completeOrderOrContinueShoppingButtons" class="completeOrderOrContinueShoppingButtons">
            <p id="totalPrices"></p>
            <input type="button" id="completeOrder" value="completeOrder" class="completeOrder">
            <input type="button" id="continueShopping" value="continueShopping" class="continueShopping">
        </div>
    </div>
    <br>

 

</div>
<script src="../../scripts/shoppingCard.js"></script>