    <link rel="stylesheet" href="../../css/shoppingCard.css">

<div id="shoppingCard" class="shoppingCard">

    <div id="products" class="products">
        <div class="product">

        </div>

    </div>
    <br>

    <div id="orderDetails" class="orderDetails">
        <p class="productsCount"> books count</p>

        <div class="totalPrices">

        </div>

        <div id="completeOrderOrContinueShoppingButtons" class="completeOrderOrContinueShoppingButtons">
            <input type="button" value="completeOrder" class="completeOrder">
            <input type="button" value="continueShopping" class="continueShopping">
        </div>
    </div>
    <br>

 

</div>
<!-- <script src="../../scripts/registerPage.js"></script>-->