
  <link rel="stylesheet" href="../../css/bookStoreProfilePage.css">
  <div class="topContainer">
    <div class="userAction">
      <ul>
        <li id="bookStoreUpdateInfos">update Infos</li>
        <li id="bookStoreGetBooks">get books</li>
        <li id="bookStoreAddBooks"> add book</li>
        <li id="bookStoreGetOrders">orders</li>
      </ul>
    </div>
 
    <div class="results" id="userActionResults">

    </div>
  </div>


  <script src="../../../scripts/bookStoreProfilePage.js"></script>