<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
    <style >


    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">main page</a></li>
            <li><a href="/books">books</a></li>
            <li><a href="/bookMarkets">book stores</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="login">login</a></li>
            <li><a href="register">register</a></li>
        </ul>
    </nav>

    {{{body}}}
</body>
</html>