<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../images/favicon/site.webmanifest">
    <link rel="stylesheet" href="../../css/main.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">ana sayfa</a></li>
            <li><a href="/books">kitaplar</a></li>
            <li><a href="/bookStores">kitap mağazaları</a></li>
            <li><a href="/contact">iletişiö</a></li>
            <li><a href="/user/profile">profil</a></li>
            <li><a href="/shoppingCard">sepet</a></li>
            <li id="logout" class="logout" ><a >çıkış yap</a></li>
        </ul>
    </nav>
<script src="../../scripts/mainFunctions.js">

</script>
<script >
logoutEventListener()
</script>
    {{{body}}}
</body>
</html>