.searchContainer {
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchContainer input,
.searchContainer select,
.searchContainer button {
    margin-right: 10px;
}
.searchInput{
    width: 300px;
}
.cityList{
    width: 100px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    align-items: center;
  }
  
  .bookCard {
    width: 1500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  .leftSide {
    width: 200px;
    text-align: center;
  }
  
  .leftSide img {
    margin: 10px;
    width: 200px;
    height: 250px;
  }
  
  .rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .topSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .bookName {
    font-weight: bold;
    padding-left: 15px;
  }
  
  .stockInfo {
    font-size: 14px;
    color: #777;
  }
  
  
  .middleSide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-end;
  }
  
  .bookDescription {
    width: 60%;
    margin-bottom: 10px;
    overflow-y: scroll;
    max-height: 100px;
  }
  
  .priceList {
    border: 1px solid #ddd;
    padding: 10px;
    width: 25%;
    max-height: 100px;
    overflow-y: scroll;
  }
  
  .priceList ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .priceList li {
    margin-bottom: 5px;
  }
  
  
  .bottomSide {
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons input {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  

  .card {
    width: 220px;
    height: 350px;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
    margin: 10px;
}
.card img {
    width: 220px;
    height: 220px;
    cursor: pointer;
}
.bookName {
  cursor: pointer;
}
.add-to-cart-button,.add-to-wishlist-button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: static;
    display: block;
    width: 100px;
    margin: 10px auto;

}



/* detailed books page css */


.goBackButton{
  position: relative;
  display: flex;
  margin: auto;
}

.container {
  width: 1000px;
  border: gray;
  border-style: solid;
  position: relative;
  display: flex;
  margin : auto;
}

.imagesSlider {
  width: 25%;
}

.bookInfos {
  margin: 1rem;
  margin-top: 1rem;
  width: 50%;
}

.otherBookInfos {
  margin-top: 1rem;
  width: 20%;
}

.bookBuy {
  margin: 1rem;
  margin-top: 1rem;
  width: 25%;
}


/* comment section */
.commentSection {
  justify-content: center;
  margin: auto;
  text-align: center;
}

.commentTitle {
  margin-bottom: 20px;
  width: 1000px;
  justify-content: center;
  margin: auto;
}
.newCommentText{
  font-size: 10px;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
}
.commentTitle h2 {
  margin-bottom: 10px;
}

.addComment {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addComment:hover {
  background-color: #0056b3;
}

.commentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.commentOwner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  
}

.commentİnteract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.yesButton,
.noButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.yesButton:hover,
.noButton:hover {
  background-color: #0056b3;
}

.otherBookStores {
  border: 1px solid #ddd;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}
.booksSection {
  float: none;
}
.booksSection:after {
  content: "";
  display: table;
  clear: both;
}
.pagingSection {
  display: flex;
  justify-content: center;
  float : none;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.pagingSection a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagingSection a:hover:not(.active) {
  background-color: #ddd;
}

.pagingSection .active {
  background-color: #007bff;
  color: white;
}
