.topContainer{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1500px;
}
.userAction {
    width: 15%;
    border-style: dotted;
    border-color: white;
}
.userAction ul li {
    cursor: pointer;
}
.results {
    width: 85%;
    border-style: dotted;
    border-color: white;
    max-height: 800px;
    overflow-y: scroll;
}

.orders {
    width: 800px;
    position: relative;
    display: flex;
    margin : auto;

}

.userInfos {
    width: 33%;
    max-height: 190px;
}

.orderItems {
    width: 33%;
    margin: auto;
    justify-content: center;
    max-height: 190px;
    overflow-y: scroll;
}

.orderDetails {
    width: 33%;
    max-height: 190px;
}