.bookStoresCard {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
  }
  
  .leftSide {
    width: 20%;
    text-align: center;
  }
  
  .midSide {
    width: 60%;
  }
  
  .rightSide {
    width: 20%;
  }
  
  .bookStoresCard h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .bookStoresCard p {
    margin-bottom: 5px;
  }
  
  .bookStoresCard ul {
    list-style-type: none;
    padding: 0;
  }
  
  .bookStoresCard ul li {
    margin-bottom: 5px;
  }
