body {
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px;
    margin : auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

textarea {
    height: 100px;
}

button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
}

button:hover {
    background-color: #333;
}
