body {
    font-family:Arial, sans-serif;
    margin: 20px;
 }
 
 .buttons {
    text-align: center;
 }
 
 .buttons input[type="button"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
 }
 
 .buttons input[type="button"]:hover {
    background-color: #333;
 }
 
 #registerForms form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
 }
 
 #registerForms label {
    display: block;
    margin-bottom: 10px;
 }
 
 #registerForms input[type="text"],
 #registerForms input[type="password"],
 #registerForms input[type="email"] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
 }
 
 #registerForms button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
 }
 
 #registerForms button:hover {
    background-color: #333;
 }
 