.shoppingCard {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1600px;
    position: relative;
}

.products {
    width: 65%;
    height: 800px;
    overflow-y: auto;
    max-height: 800px;
    margin-right: 1rem;
    position: relative;
}

.orderDetails {
    float: inline-end;
    width: 25%;
    height: 400px;
    position: relative;
    border: 1px solid gray;
}

.productsCount {
    margin-bottom: 1rem;
}

.bookList {
    overflow-y: auto;
    max-height: 300px;
    
}

.completeOrderOrContinueShoppingButtons {
    position: absolute;
    bottom: 0;
}

.completeOrder,
.continueShopping {
    position: relative;
}

.books {
    position: relative;
    height: 200px;
    border: 1px solid gray;
}

.book-IMG {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}


.bookPriceAndCount {
    float: right;
    display: flex;
    margin-inline-end: 1rem;
}

.bookQuantity {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.otherBookStoresGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    max-width: 50%;
}

