
  <link rel="stylesheet" href="../../css/userProfilePage.css">
  <div class="topContainer">
    <div class="userAction">
      <ul>
        <li id="userUpdateInfos">update Infos</li>
        <li id="getUserFavBooks">get favorited books</li>
        <li id="getUserWishlist"> get wishlisted books</li>
        <li id="userOrders">orders</li>
      </ul>
    </div>
 
    <div class="results" id="userActionResults">

    </div>
  </div>


  <script src="../../../scripts/userProfilePage.js"></script>