<!-- 
<div class="article">

<img class="image1" src="../../images/bulma-logo.png">
<p> asıl amaç  kullanıcılar internetten kitap gibi siparişleri verirken 1 2 gun kargo beklemek zorunda kalıyor.Bu uygulama ile bunun önüne geçip kullanıcının almak istediği kitap eğer şehrinde olan kırtasiyelerde varsa siparişini internet üzerinden değil de direk olarak şehrindeki kırtasiyeden yapıyor ve yarım saat ve ya 1 saat içinde elinde olmuş oluyor</p>



</div>










!-->

<script src="../../scripts/mainPage.js"></script>